@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f0f0f0;
}

nav {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    margin: 10px;
    padding: 10px;
}

.picture {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.context {
    display: flex;
    padding-bottom: 20px;
}

#log {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    max-height: 200px;
    overflow-y: auto;
    background: #f8f8f8;
}
#log p {
    margin: 5px 0;
    font-family: monospace;
}
