body {
    margin: 0;
}

nav {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    margin: 10px;
    padding: 10px;
}

.picture {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.context {
    display: flex;
    padding-bottom: 20px;
}